body{
  margin: 0 auto;
  font-family: arial;
  background-color: #363A3D;
  max-width: 100%;
  overflow-x: hidden;
}
.header{
  width:100%;
  background-color: #3169D1;
  text-align: center;
  font-size: 40px;
  color: #F2D435;
  position:fixed;
}

#MessageBox{
  padding-top: 100px;
  /*width:100%;*/
  padding-left: 80px;
  padding-right: 80px;
  display: block;
  padding-bottom: 60px;
}
.message{
    font-size: 25px;
    display:block;
    padding:15px;
}
#recievedMessage{
  background-color: #D94456;
  color:white;
  width:80%;
}

#sentMessage{
  background-color: #9D9FA2;
  /*float:right;*/
  color:white;
  display:block;
  width: 80%;
}
.footer input[type="text"]{
  margin:0;
  width:95%;
  height:50px;
}
input[type="button"]{
  width:4%;
  height:50px;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.footer {
  display: block;

    position: fixed;
    bottom: 0;
    width: 100%;
}
